<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container-md">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/main">Bookshelf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Книги
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../../search?category=best">Лучшие</a></li>
                            <li><a class="dropdown-item" href="../../../search?category=new">Новинки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <td th:each="genre: ${genres}">
                                <li><a class="dropdown-item" th:href="@{../../../search(category='genre',value=${genre.getId})}" th:text="${genre.getName}"></a></li>
                            </td>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8080/profile/user1/library">Моя библиотека</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/profile/user1">Профиль</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="value" placeholder="Название" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" onclick="search()">Поиск</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-3">
            <div class="panel panel-default">
                <div class="panel-heading">Статус</div>
                <div class="panel-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="http://localhost:8080/profile/user1/library?status=1">Читаю</a>
                        <a class="nav-link" href="http://localhost:8080/profile/user1/library?status=2">Прочту позже</a>
                        <a class="nav-link" href="http://localhost:8080/profile/user1/library?status=3">Прочитано</a>
                        <a class="nav-link" href="http://localhost:8080/profile/user1/library">Все</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="panel panel-default">
                <div class="panel-heading">Книги</div>
                <div class="panel-body">
                    <div class="row">
                        <td th:each="book: ${books}">
                            <div class="card text-center col-3">
                                <div class="card-body">
                                    <img src="..." class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer">
                                    <h5>
                                        <a th:href="@{http://localhost:8080/book/{book}(book=${book.getShortName})}" th:text="${book.getName}"></a>
                                    </h5>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>