<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container-md">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/main">Bookshelf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Книги
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../search?category=best">Лучшие</a></li>
                            <li><a class="dropdown-item" href="../../search?category=new">Новинки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <td th:each="genre: ${genres}">
                                <li><a class="dropdown-item" th:href="@{../../search(category='genre',value=${genre.getId})}" th:text="${genre.getName}"></a></li>
                            </td>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/profile/user1/library">Моя библиотека</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8080/profile/user1">Профиль</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="value" placeholder="Название" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" onclick="search()">Поиск</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading">Моя страница</div>
        <div class="panel-body">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Аватар</label>
                    <div class="col-sm-10">
                        <img src="..." class="img-thumbnail" alt="...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputName1" class="col-sm-2 col-form-label">Никнейм</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName1" th:value="${user.getName}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLogin2" class="col-sm-2 col-form-label">Логин</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLogin2" th:value="${user.getLogin}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" th:value="${user.getPassword}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>